.options {
    margin-top: 7rem;   
}

.option {
   display: flex;
   flex-flow: row nowrap; 
   justify-content: space-evenly; 
   margin-bottom: 3rem;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

img {
    border-radius: 10px;
    animation: fadeIn 1s ease-out forwards;
}